@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1400px;
  background-color: rgb(255, 255, 255);
  /* height: 100vh; */
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 32px;
}

.main {
  margin-top: 8px;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
}

.add-book-container {
  padding: 16px;
  color: #0c0c0c;
  /* width: 205px; */
  width: 100%;
  height: min-content;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row wrap;
}

.new-book-form {
  display: flex;
  flex-flow: column wrap;
}

label {
  font-weight: 600;
  font-size: 16px;
}

input {
  width: 100%;
  border-radius: 8px;
  border: none;
  margin: 16px 0;
  padding: 8px 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.add-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #29acff;
  color: white;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 2px 2px 8px hsl(0deg 0% 0% / 47%);
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  transition: 0.2s ease-in;
}

.add-button:hover {
  background-color: white;
  color: #29acff;
}

.books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 960px;
  height: min-content;
}

.card {
  padding: 16px;
  margin: 16px;
  color: black;
  display: flex;
  border-radius: 8px;
  width: 445px;
  height: 340px;
  box-shadow: 2px 2px 8px hsl(0deg 0% 0% / 47%);
}

.book-info-container {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 16px;
  justify-content: space-around;
  align-items: flex-start;
}

.book-img-container {
  max-width: 200px;
}

.book-image {
  max-width: 100%;
}

.read-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  background-color: #29acff;
  box-shadow: 2px 2px 8px hsl(0deg 0% 0% / 47%);
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  transition: 0.2s ease-in;
}

.read {
  background-color: rgb(46, 170, 102);
  color: rgb(255, 255, 255);
}

.not-read {
  background-color: rgb(233, 80, 131);
  color: rgb(238, 238, 238);
}

.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #ff2a2a;
  box-shadow: 2px 2px 8px hsl(0deg 0% 0% / 47%);
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease-in;
}

.delete-button:hover {
  background-color: white;
  color: #ff2a2a;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffffe8;
  color: #0c0c0c;
  padding: 32px;
}
