@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #efefef;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.wrapper {
  max-width: 1400px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 32px;
}

.main {
  margin-top: 8px;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
}

.add-book-container {
  padding: 16px;
  color: #0c0c0c;
  width: 100%;
  height: min-content;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row wrap;
}

.new-book-form {
  display: flex;
  flex-flow: column wrap;
}

label {
  font-weight: 600;
  font-size: 16px;
}

input {
  width: 100%;
  border-radius: 8px;
  border: none;
  margin: 16px 0;
  padding: 8px 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.add-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #29acff;
  color: white;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 2px 2px 8px hsl(0deg 0% 0% / 47%);
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  transition: 0.2s ease-in;
}

.add-button:hover {
  background-color: white;
  color: #29acff;
}

.books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  max-width: 1260px;
  min-height: 86vh;
}

.card {
  padding: 16px;
  margin: 16px;
  color: black;
  display: flex;
  border-radius: 8px;
  width: 350px;
  min-height: 280px;
  box-shadow: 2px 2px 8px hsl(0deg 0% 0% / 47%);
  display: flex;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.card:hover {
  background-color: #e7e7e7;
}

.book-info-container {
  display: flex;
  flex-flow: column;
  padding-left: 16px;
  flex: 0 1 0;
}

.book-img-container {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.book-image {
  width: 100%;
  object-fit: contain;
}

.book-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.book-author {
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(71, 71, 71);
  margin-bottom: 8px;
}

.book-pages {
  font-weight: 400;
  font-size: 1rem;
  color: #797979;
  margin-bottom: 16px;
}

.buttons-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.read-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  background-color: #29acff;
  box-shadow: 2px 2px 8px hsl(0deg 0% 0% / 47%);
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-in;
  margin-bottom: 16px;
}

.read {
  background-color: rgb(46, 170, 102);
  color: rgb(255, 255, 255);
}

.not-read {
  background-color: rgb(233, 80, 131);
  color: rgb(238, 238, 238);
}

.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  background-color: #ff2a2a;
  color: white;
  box-shadow: 2px 2px 8px hsl(0deg 0% 0% / 47%);
  transition: 0.2s ease-in;
}

.delete-button:hover {
  background-color: white;
  color: #ff2a2a;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffffe8;
  color: #0c0c0c;
  padding: 32px;
}
